@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #003049;
    --secondary-color: #D02525;
    --accent1-color: #F77F00;
    --accent2-color: #FCBF49;
    --nav-link-color: #011B28;
    --nav-background-color: #CDE8F4;
    --nav-hover-background-color: #F58F96;

    --paragraph-font: 'Open Sans', SansSerif;
}

header {
    background-color: var(--accent2-color);
    padding: 20px;  
}

header > nav a {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
 }

 nav a:hover {
    color: var(--nav-hover-background-color);
 }

body {
    font-family: var(--paragraph-font);
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

p {
    padding: 15px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    background-color: var(--accent2-color);
}

.hero article {
    position: absolute;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
    top: 9rem;
    background-color: rgba(6, 58, 110, .5);
}

.hero img{
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    float: right;
}